/*===========================

Box sizing

===========================*/

html{
    box-sizing: border-box;
}

*,*::before,*::after{
    box-sizing: inherit;
}

/*===========================

Base

===========================*/

body{

    font-family: 'Roboto', sans-serif;

    font-size: 16px;

    background-color: white;
}

a{
    text-decoration: none;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}

/*===========================

Mise en page

===========================*/

header{

background-color: white;
padding-top: 20px;
padding-bottom: 20px;

}

header .wrapper{

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{

    display: flex;
    align-items: center;
    gap: 20px;

}

.menu{

    display: flex;
    gap: 30px;
    list-style: none;
    font-family: 'Dosis', sans-serif;
}

header nav ul li a{

    color: black;

}

h1{

    color: black;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;

}

.hero{
    background-image: url(../images/alpes.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.hero .wrapper{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.boite{

    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    text-align: center;
    padding: 20px;

}

.boite h1{

    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}

.boite h2{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #2FCB48;

}

